* {
  box-sizing: border-box;
}

body {
  width:100vw;
  overflow-x:hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

body {
  color: $dark-gray;
  font-family: $ff-ro;
  line-height: 1.6;
  background: $white;

  @include mq {
    font-size: 1.125rem;
  }
}

h1 {
  @include headings($fs: 2rem, $lh: 1.2);
}

h2 {
  @include headings($fs: 5.5rem, $color: $green)

  @include mq {
    font-size: 6rem;
  }
}

h3 {
  @include headings($fs: 2rem)

  @include mq {
    font-size: 2.25rem;
  }
}