.contact {
  @include container;
  padding: 5em 0;
  text-align: center;

  h2 {
    margin-bottom: 0.5em;
  }

  .form-subtitle {
    margin-top: 1em;
  }
}

form{
  display: flex;
  flex-direction: column;
  text-align: left;

  @supports (display: grid) {
    @include mq {
      display: grid;
      gap: 1em;
      grid-template-areas: 
        "name     email"
        "message  message"
        ".        button";

        .name {
          grid-area: name;
        }

        .email {
          grid-area: email;
        }

        .message {
          grid-area: message;
          textarea {
            height: 10em;
          }
        }

        .submit-button {
          grid-area: button;
        }
    }
  }
}

label {
  display: block;
  margin-top: 1em;
  color: $dark-gray;
}

input, 
textarea {
  box-sizing: border-box;
  display: block;
  padding: .5em;
  width: 100%;
  background: lighten($light-gray, 7%);
  border: 1px solid $gray;
  font-size: 1.2rem;
}

.submit-button {
  display: block;
  width: auto;
  margin-left: auto;
  background: $green;
  border: none;
  padding: .5em 1.5em;
  @include headings($fs: 1.5rem, $color: white, $mt: 1.5em);
}