footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

  bottom: 0;
  height: 40px;
  width: 100%;
  background: $dark-green;
  padding: .5em;
  color: $white;
  text-align: center;
  
  .copyright{
    margin: 0;
  }

  .footer-div{
    margin-top: auto
  }
}