.hero {
  background-image: url(../img/hero-02.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    line-height: 1.5;
    color: $dark-gray;

    @include mq {
      font-size: 3.5vw;
    }

    @include mq ($width: 1400px) {
        font-size: 2.5vw;
      }

    span {
      @include headings($fs: 5.5rem, $color: $green);
      display: block;

      @include mq {
        font-size: 10vw;
      }

      @include mq ($width: 1400px) {
        font-size: 7vw;
      }
    }
  }
}