#hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
}

.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    line-height: 1.5;
    color: $dark-gray;

    @include mq {
      font-size: 3.5vw;
    }

    @include mq ($width: 1400px) {
        font-size: 2.5vw;
      }

    span {
      @include headings($fs: 5.5rem, $color: $green);
      display: block;

      @include mq {
        font-size: 10vw;
      }

      @include mq ($width: 1400px) {
        font-size: 7vw;
      }
    }
  }
}