// Projects Home Page

.projects {
  background: $white;
  text-align: center;
  padding: 3em 0 5em 0;

  h2 {
    margin-bottom: 0.3em;
  }
}



.project-items {
  // Fallback for browsers that are incompatible with CSS Grid
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
  @include container($max-width: 75em);
}

.project-item {
  position: relative;
  overflow: hidden;
  margin: 0;

  // Fallback for browsers that are incompatible with CSS Grid
  flex: 1 1 20rem;

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    background: rgba($green, .85);
    color: $white;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
  }

  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }
}

.project-title {
  color: $white;
  font-size: 2.5rem;
  margin-bottom: auto;
}

.project-desc {
  // For smaller screen sizes, only show description for the featured project.
  display: none;

  @include mq ($width: 1300px) {
    display: block;
  }

  .featured & {
    display: block;
  }
}

.project-info {
  position: relative;
  color: $white;
  font-weight: $fw-b;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 2.5px solid $white;
  align-self: start;

  &::after {
    content: '\00bb';
    position: absolute;
    right: -12px;
    transition: .3s;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
      right: -17px;
    }
  }
}

@supports (display: grid) {
  .project-items {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);

    @include mq {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .project-item.featured {
    // Force featured project to appear at the top
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .featured {
    .project-title {
      font-size: 4rem;
    }
  }
}

// Project Module

.project-modal::-webkit-scrollbar {
  width: 0.5em;
}
 
.project-modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.project-modal::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.project-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: $white;
  box-shadow: 0 0 0 3em rgba(black, .85);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;

  &.open {
    display: block;
  }
}

.modal-close {
  background: white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 4px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(black, .75);
  cursor: pointer;
}

.project-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 3em;
  background-size: cover;
  background-position: center;
}

.header-1 {
  background-image: url(../img/portfolio/valorantforums04.jpg);
}

.header-2 {
  background-image: url(../img/portfolio/chronicbit03.jpg);
}

.header-3 {
  background-image: url(../img/portfolio/teamer03.jpg);
}

.header-4 {
  background-image: url(../img/portfolio/cyclingclub01.png);
}

.header-5 {
  background-image: url(../img/portfolio/michaeltaiportfolio02.jpg);
}

.project-title-box {
  background: rgba($green, .85);
  padding: 3em;
  color: $white;
  width: 70%;

  .project-title {
    font-size: 4rem;
    display: inline-block;

    &::after {
      content: '';
      display: block;
      height: 1px;
      margin-top: .5em;
      background: $white;
      width: 100%;
    }
  }
}

.project-subtitle {
  font-size: 1.25rem;
}

.project-content {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3em;

  img {
    padding-top: 2em;
  }

  .portrait {
    width: auto;
    margin: 0 auto;
  }
}

@keyframes modalFadeIn {
  0% { opacity: 0 }
  100% { opacity: 1; }
}

@keyframes modalFadeOut {
  0% { opacity: 1 }
  100% { opacity: 0; }
}