.socials {
  background: $light-gray;
  text-align: center;
  padding: 3em 0;

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0.5em;
  }
}

.social-icons {
  @include container($max-width: 15em);
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.social-icon {
  padding: 0.5em;
}

.tweets {
  @include container($max-width: 25em);

  @include mq($width: 700px) {
    max-width: 30em;
  }

  @include mq($width: 1050px) {
    max-width: 30em;
  }
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.slick-next:before {
  font-size: 30px;
  color: $gray;
}

.slick-prev:before {
  font-size: 30px;
  color: $gray;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -35px
}